<center>
<%= link_to project_path(@project) do %>
<h1 class="style-h1"><%=@project.title %></h1>
<% end %>
</center>

<div class="row">
  <di class= "col s8 offset-s2">
  <div class="card medium white z-depth-1">
    <div class="card-content black-text">
      <%=@note.note_text%>
      <div class="card-action">
        <%= link_to 'Edit', edit_project_note_path(@project, @note),class:"waves-effect waves-light btn"%>
        <%= link_to 'Delete', project_note_path(@project, @note), method: :delete, class: "waves-effect waves-light btn" %>
      </div>
    </div>
  </div>
</div>
</div>
