
<br/>
<%= link_to project_path(@project) do %>
<h1 class="style-h1"><%=@project.title %></h1>
<% end %>
<div class="make-flex-container-note-show">
<div class="make-flexible-project-box-notes">
<div class="add-padding-to-project-box-notes">
<br/>
<%=@note.note_text%>
</br>
</br>
</br>
</br>
<button class="submit-button"><%= link_to 'Edit', edit_project_note_path(@project, @note)%></button></li>
<button class="submit-button"><%= link_to 'Delete', project_note_path(@project, @note), method: :delete %> </button>
</div>
</div>
</div>
