
<div>
<br />
<br />
<%= simple_form_for @project do |f| %>
<%= f.input :label, label:"Category", as: :radio_buttons, collection: Project::LABELS %>
<br/>
<%= f.input :title %>

<%= f.input :priority %>
<br />
<a class="waves-effect waves-light btn"><%= f.submit 'Update' %></a>
<% end %>
</div>
