<br/>
<br/>

<div>
  <%= simple_form_for @project do |f| %>
    <%= f.input :label, label:"", as: :radio_buttons, collection: Project::LABELS %>
  </br>
    <%= f.submit 'Create' %>
  <% end %>
</div>

<br/>
<br/>

<div class="make-flex-container">
  <% @projects.each do |project| %>
    <%= link_to project_path(project) do %>
      <div class="make-flexible-project-box">
        <div class="add-padding-to-project-box">
          <h3><%= project.title %></h3>
          <br/>
          <small><%= project.humanized_labels %></small>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
