

<div class="page-border">
  <h6 class="orange-text center-align">Once a project category is selected you may add other details to your project</h6>
  <div class="row" id="category-container">
    <div class="row" id="center-form">
      <%= simple_form_for @project do |f| %>
        <%= f.input_field :label, label:"Category", as: :radio_buttons, collection: Project::LABELS  %>
        <a class="waves-effect waves-light btn"><%= f.submit 'Update' %></a>
        <br/>
        <div class="row">
          <div class="col s12">
            <%= f.input :title %>
          </div>
          <div class="col s12">
            <%= f.input :summary %>
          </div>
          <div class="col s12">
            <%= f.input :priority %>
          </div>
          <div class="col s12">
            <%= f.input :complete %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
