<div class="card z-depth-1 cadet-blue-box">
<!-- <%= image_tag("arch.svg", :alt => "test") %> -->

</br>
</br>
    <div class="row center center-align">
      <div class="col s3 left-align">
        <span id="title"><%= @project.title %></span>
      </div>
      <div class="col s1">
        <ul id="project-list-small">
          <% if @project.humanized_labels["Artwork"] %>
            <li class="art-image"></li>
          <% end %>
          <% if @project.humanized_labels["Architecture"] %>
            <li class="arch-image"></li>
          <% end %>
          <% if @project.humanized_labels["Furniture"] %>
            <li class="furn-image"></li>
          <% end %>
          <% if @project.humanized_labels["Craft"] %>
            <limclass="craft-image"></li>
          <% end %>
          <% if @project.humanized_labels["App"] %>
            <li class="app-image"></li>
          <% end %>
          <li id="priority"><%= @project.priority %></li>
        </ul>
      </div>
      <div class="col s6">
        <article> Summary: <%= @project.summary %> </article>
      </div>
      <div class="col s2">
        <ul>
          <li ><%= link_to 'Delete', project_path(@project), method: :delete, class:"waves-effect waves-light btn right", id:"delete"%></li>
          <li> <%= link_to 'Edit', edit_project_path(@project), class: "waves-effect waves-light btn right"%></li>
        </ul>
      </div>
    </div>


  </br>
  </br>
  </br>




  <!-- Modal Triggers -->
  <div class="row center" id="button-row">
    <div class="col s3">
      <a  class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Add a note" href="#modal1"><%=image_tag("specs.svg", :alt => "test")%></a>

    </div>
    <div class="col s3">
      <a  class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Add a photo" href="#modal2"><%=image_tag("photo.svg", :alt => "test")%></a>
    </div>
    <div class="col s3">
      <a  class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Add a schedule" href="#modal3"><%=image_tag("date.svg", :alt => "test")%></a>
    </div>
    <div class="col s3">
      <a  class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Add a link" href="#modal4"><%=image_tag("url.svg", :alt => "test")%></a>
    </div>
  </div>


  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <%= simple_form_for @note, url: project_notes_path(@project)  do |f| %>

              <%= f.input :note_text %>
              <br/>
              <br/>
              <%= f.submit 'Add', class:"modal-action modal-close waves-effect waves-green btn right" %>
              <br/>
      <% end %>
    </div>
  </div>



  <br/>
  <br/>


  <div class="row">
    <% if @project.notes.present? %>
        <% @project.notes.each do |note| %>
        <div class="col s4">
          <%= link_to project_note_path(@project ,note) do %>
          <div class="card medium note-color z-depth-1 hoverable">
            <div class="card-content white-text">
                <%= note.note_text %>
              </div>
            </div>
          <%end %>
        </div>
        <%end %>
    <%end %>
  </div>

</div>
