<!DOCTYPE html>
<html>
  <head>
    <title>Animus</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="add-flexible-header">
      <h1 class="style-logo">Animus</h1>
      <div class="add-nav-links">
        <ul>
          <li>Sign In</li>
          <li><%= link_to "Add Project", new_project_path %>
          <li><i class="fa fa-bars" aria-hidden="true"></i></li>
        <ul/>
      </div>
    </div>

    <%= yield %>
  </body>
</html>
