<!DOCTYPE html>
<html>
  <head>
    <title>Animus</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav>
    <div class="nav-wrapper deep-purple darken-1">
          <%= link_to "Animus", projects_path, class:"brand-logo center" %>
      <ul>
        <% if user_signed_in? %>
            <li>
              <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
            </li>
          <% else %>
            <li>
              <%= link_to 'Sign in', new_user_session_path %>
            </li>
            <li>
              <%= link_to 'Sign up', new_user_registration_path %>
            </li>
        <% end %>
    </div>
  </nav>

  <% if notice.present? %>
  <div class="row">
      <p class="notice blue lighten-3 black-text col s3 offset-s5 center-align"><%= notice %></p>
  </div>
  <% end %>
  <% if alert.present? %>
  <div class="row">
      <p class="alert red lighten-3 black-text col s3 ofset-s5 center-align"><%= alert %></p>
  </div>
  <% end %>



    <%= yield %>
  </body>
</html>
